*{
  margin: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
  padding: 100px 0;
}

.container, .contain{
  width: 80%;
  margin: 0 auto;
}

.card{
  margin: 0 10px 40px 10px;
  width: calc(100% / 3 - 20px);
  height: 120px;
  background-color: black;
  float: left;
  box-shadow:  2px 2px 8px 4px rgba(196, 195, 191, 0.377);
}

h1{
  font-family: 'Fredoka One', cursive;
  padding-bottom: 30px;
  color: crimson;
}

h3{
  font-family: 'Fredoka One', cursive;
  color: whitesmoke;
  padding-left: 120px;
  margin: 10px;
}

img{
  height: 120px;
  float: left;
}

span{
  color: whitesmoke;
  margin: 10px;
  display: block;
  padding-left: 120px;
  font-size: 20px;
}

a{
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

